@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-all;
}

body {
  font-family: 'Poppins', sans-serif;
  @apply bg-indigo-500;
}

.inner-container {
  @apply max-w-4xl mx-auto px-4 sm:px-6;
}

.outer-container {
  @apply max-w-5xl mx-auto;
}

.field {
  @apply grid gap-2;
}

.label {
  @apply text-gray-800;
}

.input {
  @apply w-full rounded-full bg-indigo-50 px-5 py-[0.8rem] border-2 border-indigo-100 focus:border-indigo-500 focus:bg-white outline-none;
}

.input:placeholder {
  @apply text-gray-400;
}

.no-arrows-input::-webkit-outer-spin-button,
.no-arrows-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-arrows-input[type='number'] {
  -moz-appearance: textfield;
}

[contenteditable='true']:empty:not(:focus):before {
  @apply text-gray-400;
  content: attr(data-ph);
  font-style: italic;
  pointer-events: none;
}

@media (pointer: fine) and (hover: hover) {
  *::-webkit-scrollbar-track {
    @apply rounded-full;
  }
  *::-webkit-scrollbar {
    @apply w-2;
  }
  *::-webkit-scrollbar-thumb {
    @apply rounded-md bg-indigo-400;
  }
  *::-webkit-scrollbar-thumb:active {
    @apply bg-indigo-300;
  }
}
